body{ margin: 0 }

.parallax{
	background-attachment: fixed;
	margin: 0px;
	padding: 0px;
	margin-top: -20px;
	width: 100%;
	height: 900px;
	position: relative;
}
.parallax .contenido{
	position: relative;
	top: 300px;
  width: 500px;
  margin: 0 auto;
	text-align: center;
	color: #FFF;
  /* background-color: #000; */
  /* opacity: 0.5; */
  text-shadow: black 0.2em 0.2em 0.2em
}
.wrapper{
	position: relative;
}
.wrapper div{
	position: fixed;
	width: 60px;
	height: 40px;
  padding-top: 20px;
	border-radius: 50px;
	background-color: #FFF;
  text-align: center;
}
#uno{
	background: url(../images/back1.jpg);
	background-size: 100% 100%;
}
#dos{
	background: url(../images/back2.jpg);
	background-size: 100% 100%;
}
